@import url("https://fonts.googleapis.com/css?family=Dancing+Script");
.font-dancing, .bar-info__cytat h2 {
  font-family: 'Dancing Script', cursive;
  font-weight: 400; }

p {
  font-family: 'Roboto', sans-serif; }

h1 {
  font-family: 'Roboto', sans-serif; }

h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: 600; }

h4 {
  font-size: 18px; }

a {
  font-family: 'Roboto', sans-serif; }

li {
  font-family: 'Roboto', sans-serif;
  font-weight: 500; }

.rwd {
  width: 100%;
  height: auto;
  display: block; }

.no-padding {
  padding-left: 0px;
  padding-right: 0px; }

/*buttons*/
.button {
  border: solid 1px #fff;
  background: none; }
  .button--smal {
    margin-top: 20px;
    padding: 10px 30px; }
  .button a {
    color: white;
    text-decoration: none; }

/* header */
.bar-contact {
  background: #113c67;
  color: #fff;
  padding-top: 15px;
  padding-bottom: 15px; }
  .bar-contact-wraper {
    float: right;
    font-size: 17px; }
    @media (max-width: 767px) {
      .bar-contact-wraper {
        float: none;
        text-align: center;
        font-size: 24px; } }
    .bar-contact-wraper i {
      font-size: 20px;
      padding-left: 30px; }
      @media (max-width: 767px) {
        .bar-contact-wraper i.fa-map-marker {
          display: none; }
        .bar-contact-wraper i.fa-envelope {
          display: none; }
        .bar-contact-wraper i.fa-phone {
          font-size: 30px; } }
    .bar-contact-wraper-1 {
      padding-left: 10px; }
      @media (max-width: 767px) {
        .bar-contact-wraper-1 {
          display: none; } }
    .bar-contact-wraper-2 {
      padding-left: 10px; }
      @media (max-width: 767px) {
        .bar-contact-wraper-2 {
          display: none; } }
    .bar-contact-wraper-3 {
      padding-left: 10px; }

/*navigation*/
.top-nav {
  padding-top: 15px;
  background: #ffffff;
  border: none; }

.navbar-toggle {
  padding: 15px;
  margin-top: 15px; }

.navbar-default {
  background-color: #ffffff;
  box-shadow: none;
  background-image: none;
  border: none; }
  .navbar-default .navbar-collapse {
    border: none;
    padding-bottom: 0px; }
  .navbar-default .navbar-nav {
    font-size: 17px;
    float: right;
    padding-right: 0px;
    padding-top: 12px; }
    .navbar-default .navbar-nav .active a {
      background-color: #00afdb;
      background-image: none;
      color: #fff;
      margin-top: -27px;
      margin-bottom: -20px;
      padding-bottom: 42px;
      padding-top: 44px;
      position: static; }
      @media (max-width: 767px) {
        .navbar-default .navbar-nav .active a {
          top: 0px;
          margin-top: 0px;
          margin-bottom: 0px;
          padding-bottom: 22px;
          padding-top: 22px;
          position: relative; } }
      .navbar-default .navbar-nav .active a:hover {
        background-color: #0e94b6;
        color: #efefef; }
      .navbar-default .navbar-nav .active a:visited {
        color: #fff; }

/* carousel */
.carousel-inner h1 {
  font-size: 65px;
  line-height: 100%; }
  .carousel-inner h1 span {
    font-size: 65%;
    font-weight: 300;
    display: block;
    padding-bottom: 10px; }

.carousel-inner h2 {
  font-weight: 400;
  display: block;
  padding-bottom: 10px; }

.carousel-inner .carousel-caption-content {
  text-align: left;
  width: 650px;
  bottom: 170px;
  margin-left: 450px;
  position: absolute;
  display: block; }
  @media (max-width: 1399px) {
    .carousel-inner .carousel-caption-content {
      bottom: 120px;
      width: 400px;
      left: -30px; }
      .carousel-inner .carousel-caption-content h1 {
        font-size: 60px; } }
  @media (max-width: 1199px) {
    .carousel-inner .carousel-caption-content {
      bottom: 100px;
      margin-left: 300px;
      width: 380px; }
      .carousel-inner .carousel-caption-content h1 {
        font-size: 49px; } }
  @media (max-width: 991px) {
    .carousel-inner .carousel-caption-content {
      bottom: 55px;
      left: -60px;
      width: 300px; }
      .carousel-inner .carousel-caption-content h1 {
        font-size: 40px; }
      .carousel-inner .carousel-caption-content h2 {
        font-size: 25px; } }
  @media (max-width: 767px) {
    .carousel-inner .carousel-caption-content {
      display: none; } }

/*offers*/
.offers {
  color: #fff;
  text-align: center; }
  .offers--dark {
    background-color: #113c67;
    padding: 20px 40px 40px 30px; }
  .offers--light {
    background-color: #00afdb;
    padding: 20px 40px 40px 30px; }
  .offers img {
    height: 100px; }
  .offers p {
    font-size: 16px; }

/*about*/
.about-wrapper {
  background-image: url("/img/offers-bg-left.jpg"), url("/img/offers-bg-right.jpg");
  background-position: left top, right top;
  width: 100%;
  height: auto;
  display: block;
  background-repeat: no-repeat; }
  @media (max-width: 991px) {
    .about-wrapper {
      background-image: none; } }

.about__content {
  padding: 50px 40px 0px 40px;
  color: #7f7f7f; }
  .about__content h2 {
    padding-bottom: 20px; }
    .about__content h2 span {
      font-size: 22px;
      font-weight: 400; }
  .about__content p {
    font-size: 18px;
    text-align: justify;
    padding-bottom: 30px; }

.about__photo {
  text-align: right;
  padding-top: 40px; }

.about--zl {
  padding-bottom: 40px; }

.zlw-simple {
  background-color: #0199c0; }

/*bar-info*/
.bar-info {
  text-align: center;
  color: #fff; }
  .bar-info--dark {
    padding: 20px 50px 30px 50px;
    background-color: #6d6e71; }
  .bar-info--light {
    padding: 20px 50px 30px 50px;
    background-color: #7f8081; }
  .bar-info--lighter {
    padding: 20px 50px 30px 50px;
    background-color: #8f8f8f; }
  .bar-info h2 span {
    font-size: 22px;
    font-weight: 300; }
  .bar-info__cytat {
    padding: 15px 0 25px 0; }
    .bar-info__cytat h2 {
      color: #323232;
      font-size: 40px; }
  .bar-info p {
    font-size: 16px; }

/*maps*/
.maps-wrapper {
  position: relative;
  height: 300px;
  background-color: #113c67;
  /*&_map {
	padding: 0px;
	}*/ }
  .maps-wrapper_buttons {
    color: white; }
    .maps-wrapper_buttons h4 {
      line-height: 150%; }
    .maps-wrapper_buttons i {
      padding-right: 10px; }
    .maps-wrapper_buttons-up {
      background-color: #00afdb;
      padding: 20px 40px 30px 30px; }
      @media (max-width: 1199px) {
        .maps-wrapper_buttons-up {
          float: left;
          width: 50%; } }
    .maps-wrapper_buttons-down {
      background-color: #113c67;
      padding: 20px 40px 30px 30px; }
      @media (max-width: 1199px) {
        .maps-wrapper_buttons-down {
          float: left;
          width: 50%; } }

#mapkit-9103 {
  height: 433px; }

.copyright {
  text-align: center;
  padding: 15px 0px 10px 0px;
  background-color: #f5f5f5; }

.footer-wrapper {
  padding: 15px 0px 10px 0px;
  background-color: #113c67; }
  @media (max-width: 767px) {
    .footer-wrapper {
      display: none; } }
  .footer-wrapper_logo {
    max-width: 213px; }
  .footer-wrapper_menu {
    float: right;
    margin-top: 15px;
    color: white; }
    .footer-wrapper_menu ul {
      list-style-type: none;
      float: right; }
    .footer-wrapper_menu li {
      float: left;
      padding-left: 30px; }
      .footer-wrapper_menu li a {
        color: white;
        text-decoration: none; }
        .footer-wrapper_menu li a:hover {
          color: #e1e1e1; }
