@import url('https://fonts.googleapis.com/css?family=Dancing+Script');
.font-dancing {
	font-family: 'Dancing Script', cursive;
	font-weight: 400;
}


// Breakpoints

@mixin xs {
 @media (max-width: 520px) {
@content;
 }
}

@mixin sm {
 @media (max-width: 767px) {
@content;
 }
}
@mixin md {
 @media (max-width: 991px) {
@content;
 }
}
@mixin lg {
 @media (max-width: 1199px) {
@content;
 }
}
@mixin xlg {
 @media (max-width: 1399px) {
@content;
 }
}
@mixin full {
 @media (min-width: 1400px) {
@content;
 }
}

$color--default: #113c67;

$color__blue--light: #00afdb;

$h1-color: #535353;

p {
	font-family: 'Roboto', sans-serif;
}

h1 {
	font-family: 'Roboto', sans-serif;
}

h2 {
	font-family: 'Roboto', sans-serif;
	font-weight: 600;
}

h4 {
	font-size: 18px;
}

a {
	font-family: 'Roboto', sans-serif;
}

li {
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
}


.rwd {
	width: 100%;
    height: auto;
    display: block;
}

.no-padding {
	padding-left: 0px;
	padding-right: 0px;
}


/*buttons*/
.button {
	border: solid 1px #fff;
	background: none;
		&--smal {
			margin-top:20px;
			padding: 10px 30px;
		}
	a {
		color: white;
		text-decoration: none;
	}
}

/* header */

.bar-contact{
	background: $color--default;
	color: #fff;
	padding-top:15px;
	padding-bottom:15px;
	&-wraper {
		float:right;
		font-size:17px;
		@include sm {
			float:none;
			text-align: center;
			font-size:24px;
		}
		i {
			font-size:20px;
			padding-left: 30px;
			@include sm {
				&.fa-map-marker  {
					display:none;
				}
				&.fa-envelope {
					display:none;
				}
				&.fa-phone {
					font-size: 30px;
				}
			}
		}		

		&-1{
			padding-left:10px;
			@include sm {
				display: none;
			}
		}
		&-2{
			padding-left:10px;
			@include sm {
				display: none;
			}
		}
		&-3{ 
			padding-left:10px;
		}
	}
}

/*navigation*/

.top-nav {
  	padding-top:15px;
	background: #ffffff;	
	border: none;

}

.navbar-toggle  {
	padding:15px;
	margin-top:15px;
}


.navbar-default {
	background-color: #ffffff;
	box-shadow: none;
	background-image: none;
	border: none;
	.navbar-collapse {
	border: none;
	padding-bottom: 0px;

	}
	.navbar-nav {
		font-size: 17px;
		float: right;
		padding-right: 0px;
		padding-top:12px;
		.active {
			
			a {
				background-color: $color__blue--light;
				background-image: none;
				color:#fff;
					
		
					margin-top: -27px;
					margin-bottom: -20px;
					padding-bottom:42px;
					padding-top:44px;
					position: static;

					@include sm {
						top: 0px;
						margin-top: 0px;
						margin-bottom: 0px;
						padding-bottom:22px;
						padding-top:22px;			
						position: relative;
					}

				&:hover {

					background-color: #0e94b6;
					color:#efefef;
				}
				&:visited {

					color:#fff;
				}
			}
		
		}
	}
}


/* carousel */
.carousel-inner {
	h1 {
		font-size: 65px;
		line-height: 100%;
		span {
			font-size: 65%;
			font-weight: 300;
			display: block;
			padding-bottom: 10px;

		}

	}
	h2 {
			
			font-weight: 400;
			display: block;
			padding-bottom: 10px;
			
		}

	.carousel-caption-content { 
		text-align: left;
	    width: 650px;
		bottom: 170px;
		margin-left:450px;
		position: absolute;
		display: block;


		@include xlg {
			bottom:120px;
			width:400px;
			left: -30px;
			h1 {
				font-size: 60px;	
			}
		}
		@include lg {
			bottom: 100px;
			margin-left:300px;
			width:380px;
			h1 {
				font-size: 49px;	
			}
		}
		@include md {
			bottom: 55px;
			left:-60px;
			width:300px;
			h1 {
				font-size: 40px;	
			}
			h2 {
				font-size:25px;
			}
			 
		}

		@include sm {
			display: none;	
		}
				
  	}
}

/*offers*/
.offers {
	color: #fff;
	text-align: center;

	&--dark {
		background-color: $color--default;
		padding:20px 40px 40px 30px;

	}
	&--light  {
		background-color: $color__blue--light;
		padding:20px 40px 40px 30px;
	}
	img {
		height: 100px;
	}
	p {
		font-size:16px;
	}

}

 /*about*/
.about-wrapper {
	background-image: url("/img/offers-bg-left.jpg"), url("/img/offers-bg-right.jpg");
	background-position: left top, right top;
	width: 100%;
    height: auto;
    display: block;
    background-repeat: no-repeat;
	@include md {
		background-image: none;
	}
}

.about__content {
	padding: 50px 40px 0px 40px;
	color: #7f7f7f;

	h2 {
		padding-bottom:20px;
		span {
		font-size:22px;
		font-weight: 400;
		}
	}

	p {
		font-size: 18px; 
		text-align: justify;
		padding-bottom:30px;
	 }
}

.about__photo {
	text-align: right;
	padding-top: 40px;
}

.about--zl {
	padding-bottom:40px;
}

.zlw-simple {
	background-color: #0199c0;
}

/*bar-info*/
.bar-info {
	text-align: center;
	color: #fff;
	&--dark {
		padding:20px 50px 30px 50px;
		background-color: #6d6e71;
	}
	&--light {
		padding:20px 50px 30px 50px;
		background-color: #7f8081;
	}
	&--lighter {
		padding:20px 50px 30px 50px;
		background-color: #8f8f8f;	
	}
	h2 span {
		font-size: 22px;
		font-weight: 300;
	}
	&__cytat {
		padding: 15px 0 25px 0;
		h2 {
		color: #323232;
		@extend .font-dancing;
		font-size:40px;
		}
	}
	p {
		font-size:16px;
	}
}

/*maps*/
.maps-wrapper {
	position: relative;
	height: 300px;
	background-color: $color--default;
	&_buttons {
		color: white;
		
		h4 {
			line-height: 150%;

		}
		i {
			padding-right: 10px;
		}
		&-up {
			background-color: $color__blue--light;
			padding:20px 40px 30px 30px;
		@include lg {
			float:left;
			width: 50%;
		}
		}
		&-down{
			background-color: $color--default;
			padding:20px 40px 30px 30px;
			@include lg {
			float:left;
			width: 50%;
		}
		}
	}
	/*&_map {
	padding: 0px;
	}*/
}

 #mapkit-9103 {
        height:433px;
    }

.copyright {
	text-align: center;
	padding: 15px 0px 10px 0px;
	background-color: #f5f5f5;
} 

.footer-wrapper{
	padding: 15px 0px 10px 0px;
	background-color: $color--default;

	@include sm {
		display: none;
	} 
	
	&_logo {
		max-width: 213px;
	}
	&_menu {
		float: right;
		margin-top: 15px;	
		color: white;
		ul {
			list-style-type: none;
			float: right;
		}
		li {
			float: left;
			padding-left: 30px;
			a {
				color: white;
				text-decoration: none;
				&:hover {
					color: #e1e1e1;	
				}
			}
		}
	}

}

